NODE_ENV="development"
PORT="3000"
CLIENT_URL="http://localhost:3000"
APP_URL="http://localhost:3000"

# MongoDB Connection
MONGO_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/poise?retryWrites=true&w=majority"

# JWT Secrets
JWT_ACCESS_SECRET="your_jwt_access_secret_here"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_here"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
EMAIL_VERIFICATION_EXPIRES_IN="1d"
PASSWORD_RESET_EXPIRES_IN="1h"

# Cloudinary Config
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Stripe Config
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# Razorpay Config
RAZORPAY_KEY_ID="rzp_test_..."
RAZORPAY_KEY_SECRET="your_rzp_key_secret..."
RAZORPAY_WEBHOOK_SECRET="your_rzp_webhook_secret..."

# SMTP Config
EMAIL_FROM="noreply@poise.com"
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT="2525"
SMTP_USER="your_smtp_user"
SMTP_PASS="your_smtp_pass"
